@import '../../styles/variables.scss';

.authPage {
  display: flex;

  .authContainer {
    color: white;
    
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    background-color: $dark;
    padding: 2rem; 
    img {
      width: 5rem;
      align-self: flex-end;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    color: white;
  }

  .authForm {
    background-color: $dark;
    height: 100%;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a:hover {
      font-weight: bold;
    }
  }

  .formGroup {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0.5rem;
    color: $light;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    background-color: $dark;    
    border: 1.5px solid #ccc;
    padding: 0.8rem;
    transition: border-color 0.3s ease;

    &:focus-within {
      border-color: $red;
    }

    .icon {
      color: $light;
      font-size: 1rem;
      margin: 0 0.5rem;
    }

  }

  button {
    padding: 0.75rem;
    margin: 1rem 0;
    border: none;
    border-radius: 4px;
    background-color: $red;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($red, 10%);
    }
  }

  .imgContainer {
    width: 60%;
    background-image: url('../../images/black_sabbath.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .authPage {
    flex-direction: column;
    height: fit-content;

    .authContainer {
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .imgContainer {
      display: none;
    }
  }
}
