@import '../../styles/variables.scss';

.header {
  height: 15vh;
  background-color: $dark;
  position: sticky;
  color: $light;

  .hidden {
    display: none;
  }

  .logoContainer {
    height: 100%;
    img {
      width: 5vw;
      height: 100%;
    }
  }

  ul {
    height: 100%;
    list-style: none;
    justify-content: space-around;
    display: flex;
    align-items: center;
    .headerLinks {
      display: flex;
      align-items: center;
      li {
        padding-left: 1rem;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
    li {
      transition: all 0.3s ease;
      &:hover {
        font-weight: bold;
      }
    }
    .active {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: 4px solid $red;
    }
  }

  .responsiveNav {
    display: none;
  }

  .occupyAllPage {
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .logoContainer{
        img{
            width: 20vw;
        }
    }
    .headerLinks{
      img{
        display: none;
      }
    }

    ul{
      .responsiveNav {
        display: flex;
      }
    }
   
  }
}
